<a href="https://colab.research.google.com/github/alvas-education-foundation/bhoomika_python/blob/master/Copy_of_pythonic_day_3_session_1%262.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=25
for x in range(2, i//2+1):
      if i%x==0:
         print("The number {} is not prime".format(i))
         break
if x ==i//2:
   print ("{} is a prime number".format(i))

The number 25 is not prime

In [ ]:
a, b = 2, 'my-string'
print(a)
print(b)

2
my-string

In [ ]:
x = (1, 2, 4, 8, 16)
a = x[0]
b = x[1]
c = x[2]
d = x[3]
e = x[4]
print(a, b, c, d, e)

1 2 4 8 16

In [ ]:
a, *y, e = x
print(a)
print(y)
print(e)

1
[2, 4, 8]
16

In [ ]:
x = 4
print(x >= 2 and x <= 8)

True

In [ ]:
print(2 <= x <= 8)
print(2 <= x <= 3)

True
False

In [ ]:
# normal way
x, y = 2, None
print(x == None)
print(y == None)
print(x != None)
print(y != None)

False
True
True
False

In [ ]:
#To print only non zero values from tuple x
x = (1, 2, 0, 3, 0, 4)
for item in x:
    if item != 0:
      print(item)

1
2
3
4

In [ ]:
def func(value, seq=None):
  if seq is None:
    seq = []
    seq.append(value)
    return seq
print(func(value=6))

[6]

In [ ]:
#Python Program to find the factorial of a number using loop. 
n=int(input("Enter number:"))
fact=1
while(n>0):
    fact=fact*n
    n=n-1
print("Factorial of the number is: ")
print(fact)

Enter number:3
Factorial of the number is:
6

In [ ]:
x=[1, 2, 3, 4, 5, 6]
result = []
for idx in range(len(x)):
  result.append(x[idx] * 2)
print(result)

[2, 4, 6, 8, 10, 12]

In [ ]:
print([i*2 for i in [1, 2, 3, 4, 5, 6] ])

[2, 4, 6, 8, 10, 12]

In [ ]:
from functools import reduce
sequences = [x for x in range(1,int(input('Enter no'))+1)]
product = reduce(lambda x, y: x*y, sequences)
print(product)

Enter no2
2

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:4
Enter the upper range:9
[(4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81)]

In [ ]:
from math import *
sequences = [10,2,8,7,5,4,3,11,0,9,16,1]
result=[]
for i in sequences:
  if int(sqrt(i))**2==i:
    result.append(i)
print(result)

[4, 0, 9, 16, 1]

In [ ]:
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:2
Enter element:3
Enter element:8
Largest element is: 8

In [ ]:
x=0
l=[int(input(x)) for _ in range(int(input("Enter how many elements")))]
l.sort()
print("Second largest element is :",l[-2])

Enter how many elements2
3
4
Second largest element is : 3

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:4
Enter the upper range:6
[(4, 16), (5, 25), (6, 36)]

In [ ]:
import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:2
Randomised list is:  [16, 10]

In [ ]:
names = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
for index, value in enumerate(names):
    print(f'{index+1}: {value}')

1: Jan
2: Feb
3: Mar
4: Apr
5: May
6: Jun
7: Jul
8: Aug
9: Sep
10: Oct
11: Nov
12: Dec

In [ ]:
items = []
for i in range(100, 401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        items.append(s)
print( ",".join(items))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [ ]:
lower = 200
upper = 600

print("Prime numbers between", lower, "and", upper, "are:")

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

Prime numbers between 200 and 600 are:
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599

In [ ]:
a=[]
l=int(input("Enter lower limit: "))
u=int(input("Enter upper limit: "))
a=[x for x in range(l,u+1) if x%2!=0 and str(x)==str(x)[::-1]]
print("The numbers are: ",a)

Enter lower limit: 99
Enter upper limit: 101
The numbers are:  [99, 101]

In [ ]:


# Python program to calculate the sum of n Natural Numbers

# n denotes upto which number you want to calculate the sum
# for example, if n is 5 then the sum of first 5 natural numbers
num = int(input("Enter the value of n: "))
hold = num
sum = 0

if num <= 0: 
   print("Enter a whole positive number!") 
else: 
   while num > 0:
        sum = sum + num
        num = num - 1;
    # displaying output
("Sum of first", hold, "natural numbers is: ", sum)

Enter the value of n: 6

('Sum of first', 6, 'natural numbers is: ', 21)

In [ ]:
# Multiplication table (from 1 to 10) in Python

num = 22


# To take input from the user
# num = int(input("Display multiplication table of? "))

# Iterate 10 times from i = 1 to 10
for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

22 x 1 = 22
22 x 2 = 44
22 x 3 = 66
22 x 4 = 88
22 x 5 = 110
22 x 6 = 132
22 x 7 = 154
22 x 8 = 176
22 x 9 = 198
22 x 10 = 220

In [ ]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0

# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** 3
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

Enter a number: 132
132 is not an Armstrong number

In [ ]:
from collections import defaultdict
classes = (
    ('1st', 1),
    ('2', 1),
    ('3', 2),
    ('5', 2),
    ('4', 3),
    ('2', 1),
)

class_rollno = defaultdict(list)

for class_name, roll_id in classes:
    class_rollno[class_name].append(roll_id)

print(class_rollno)

defaultdict(<class 'list'>, {'1': [1], '2': [1, 1], '3': [2], '5': [2], '4': [3]})

In [ ]:
# Python program to check whether two strings are  
# anagrams of each other  
  
# function to check whether two strings are anagram  
# of each other  
def areAnagram(str1, str2):  
    # Get lengths of both strings  
    n1 = len(str1)  
    n2 = len(str2)  
  
    # If lenght of both strings is not same, then  
    # they cannot be anagram  
    if n1 != n2:  
        return 0
  
    # Sort both strings  
    str1 = sorted(str1) 
    str2 = sorted(str2) 
  
    # Compare sorted strings  
    for i in range(0, n1):  
        if str1[i] != str2[i]:  
            return 0
  
    return 1
  
  
# Driver program to test the above function  
str1 = "test"
str2 = "estt"
if areAnagram(str1, str2):  
    print ("The two strings are anagram of each other") 
else:  
    print ("The two strings are not anagram of each other")

The two strings are anagram of each other
The two strings are anagram of each other