<a href="https://colab.research.google.com/github/alvas-education-foundation/bhoomika_python/blob/master/pythonic_day_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Program to find the largest number in a list.
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
a.sort()
print("Largest element is:",a[n-1])

Enter number of elements:2
Enter element:6
Enter element:8
Largest element is: 8

In [ ]:
#Python Program to put the even and odd elements in a list into two different lists. 
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
even=[]
odd=[]
for j in a:
    if(j%2==0):
        even.append(j)
    else:
        odd.append(j)
print("The even list",even)
print("The odd list",odd)

Enter number of elements:2
Enter element:4
Enter element:5
The even list [4]
The odd list [5]

In [ ]:
#Python Program to merge two lists and sort it.
a=[]
c=[]
n1=int(input("Enter number of elements:"))
for i in range(1,n1+1):
    b=int(input("Enter element:"))
    a.append(b)
n2=int(input("Enter number of elements:"))
for i in range(1,n2+1):
    d=int(input("Enter element:"))
    c.append(d)
new=a+c
new.sort()
print("Sorted list is:",new)

Enter number of elements:2
Enter element:55
Enter element:45
Enter number of elements:2
Enter element:33
Enter element:99
Sorted list is: [33, 45, 55, 99]

In [ ]:
#Python Program to sort the list according to the second element in the sublist.
a=[['A',34],['B',21],['C',26],['E',29]]
for i in range(0,len(a)):
    for j in range(i+1,len(a)):
        if(a[i][1]>a[j][1]):
            temp=a[j]
            a[j]=a[i]
            a[i]=temp
print(a)

[['B', 21], ['C', 26], ['E', 29], ['A', 34]]

In [ ]:
#Python Program to find the second largest number in a list 
a=[]
n=int(input("Enter number of elements:"))
for i in range(1,n+1):
    b=int(input("Enter element:"))
    a.append(b)
for i in range(0,len(a)):
    for j in range(0,len(a)-i-1):
        if(a[j]>a[j+1]):
            temp=a[j]
            a[j]=a[j+1]
            a[j+1]=temp 
print('Second largest number is:',a[n-2])

Enter number of elements:2
Enter element:2
Enter element:6
Second largest number is: 2

In [ ]:
#Program to create a list of tuples with the first element as the number and the second element as the square of the number. 
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)

Enter the lower range:4
Enter the upper range:8
[(4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]

In [ ]:
#Python Program to generate random numbers from 1 to 20 and append them to the list.

import random
a=[]
n=int(input("Enter number of elements:"))
for j in range(n):
    a.append(random.randint(1,20))
print('Randomised list is: ',a)

Enter number of elements:2
Randomised list is:  [18, 13]

In [ ]:
def countMultiples(n): 
    res = 0; 
    for i in range(1, n + 1): 
        if (i % 3 == 0 or i % 7 == 0): 
            res += 1; 
   
    return res; 
  
# Driver code 
print("Count =", countMultiples(25));

Count = 10

In [ ]:
nl=[]
for x in range(1500, 2701):
    if (x%7==0) and (x%5==0):
        nl.append(str(x))
print (','.join(nl))

1505,1540,1575,1610,1645,1680,1715,1750,1785,1820,1855,1890,1925,1960,1995,2030,2065,2100,2135,2170,2205,2240,2275,2310,2345,2380,2415,2450,2485,2520,2555,2590,2625,2660,2695

In [ ]:
# Program to sort alphabetically the words form a string provided by the user

my_str = "Hello this Is an Example With cased letters"

# To take input from the user
#my_str = input("Enter a string: ")

# breakdown the string into a list of words
words = my_str.split()

# sort the list
words.sort()

# display the sorted words

print("The sorted words are:")
for word in words:
   print(word)

The sorted words are:
Example
Hello
Is
With
an
cased
letters
this

In [ ]:
# Python3 implementation of the approach 
  
# Function to print all the perfect 
# squares from the given range 
def perfectSquares(l, r): 
  
    # For every element from the range 
    for i in range(l, r + 1): 
  
        # If current element is 
        # a perfect square 
        if (i**(.5) == int(i**(.5))): 
            print(i, end=" ") 
  
# Driver code 
l = 2
r = 24
  
perfectSquares(l, r)

4 9 16

In [ ]:
# Python program to get average of a list 
# Using reduce() and lambda  
  
# importing reduce() 
from functools import reduce
  
def Average(lst): 
    return reduce(lambda a, b: a + b, lst) / len(lst) 
  
# Driver Code 
lst = [15, 9, 55, 41, 35, 20, 62, 49] 
average = Average(lst) 
  
# Printing average of the list 
print("Average of the list =", round(average, 2))

Average of the list = 35.75

In [ ]:
# Python program to print odd Numbers in a List 
  
# list of numbers 
list1 = [10, 21, 4, 45, 66, 93] 
  
# iterating each number in list 
for num in list1: 
      
    # checking condition 
    if num % 2 != 0: 
       print(num, end = " ")

21 45 93

In [ ]:
# Python program to print Even Numbers in a List 
  
# list of numbers 
list1 = [10, 21, 4, 45, 66, 93] 
  
# iterating each number in list 
for num in list1: 
      
    # checking condition 
    if num % 2 == 0: 
       print(num, end = " ")

10 4 66

In [ ]:
#Write python program to have a list of words  to sort them from longest to shortest using list of tuples
 
txt = 'but soft what light in yonder window breaks'
words = txt.split()
t = list()
for word in words:
   t.append((len(word), word))
t.sort(reverse=True)

res = list()
for length, word in t:
    res.append(word)

print(res)

['yonder', 'window', 'breaks', 'light', 'what', 'soft', 'but', 'in']

In [ ]:

#Python program that assigns variables

# Create packed tuple.
pair = ("dog", "cat")

# Unpack tuple.
(key, value) = pair

# Display unpacked variables.
print(key)
print(value)

dog
cat

In [ ]:

#Python program that searches tuples
pair = ("dog", "cat")

# Search for a value.
if "cat" in pair:
    print("Cat found")

# Search for a value not present.
if "bird" not in pair:
    print("Bird not found")

Cat found
Bird not found

In [ ]:
l_range=int(input("Enter the lower range:"))
u_range=int(input("Enter the upper range:"))
a=[(x,x**2) for x in range(l_range,u_range+1)]
print(a)#Python Program to Create a List of Tuples with the First Element as the Number and Second Element as the Square of the Number

Enter the lower range:2
Enter the upper range:5
[(2, 4), (3, 9), (4, 16), (5, 25)]

In [ ]:

# Python program to sort a list of tuples by the second Item 
  
# Function to sort the list of tuples by its second item 
def Sort_Tuple(tup):  
      
    # getting length of list of tuples 
    lst = len(tup)  
    for i in range(0, lst):  
          
        for j in range(0, lst-i-1):  
            if (tup[j][1] > tup[j + 1][1]):  
                temp = tup[j]  
                tup[j]= tup[j + 1]  
                tup[j + 1]= temp  
    return tup  
  
# Driver Code  
tup =[('for', 24), ('is', 10), ('Geeks', 28),  
      ('bhoomika', 5), ('portal', 20), ('a', 15)]  
        
print(Sort_Tuple(tup))

[('bhoomika', 5), ('is', 10), ('a', 15), ('portal', 20), ('for', 24), ('Geeks', 28)]

In [ ]:
from collections import defaultdict
classes = (
    ('V', 1),
    ('VI', 1),
    ('V', 2),
    ('VI', 2),
    ('VI', 3),
    ('VII', 1),
)

class_rollno = defaultdict(list)

for class_name, roll_id in classes:
    class_rollno[class_name].append(roll_id)

print(class_rollno)

defaultdict(<class 'list'>, {'V': [1, 2], 'VI': [1, 2, 3], 'VII': [1]})

In [ ]:
def last(n):
    return n[-1]  
 
def sort(tuples):
    return sorted(tuples, key=last)
 
a=input("Enter a list of tuples:")
print("Sorted:")
print(sort(a))

Enter a list of tuples:2
Sorted:
['2']

In [ ]:
# Python program to sort a list of 
# tuples by the second Item using sort()  
  
# Function to sort hte list by second item of tuple 
def Sort_Tuple(tup):  
  
    # reverse = None (Sorts in Ascending order)  
    # key is set to sort using second element of  
    # sublist lambda has been used  
    tup.sort(key = lambda x: x[1])  
    return tup  
  
# Driver Code  
tup = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)]  
  
# printing the sorted list of tuples 
print(Sort_Tuple(tup))

[('akash', 5), ('rishav', 10), ('gaurav', 15), ('ram', 20)]

In [ ]:
# Python program to sort a list of 
# tuples by the second Item using sorted()  
  
# Function to sort the list by second item of tuple 
def Sort_Tuple(tup):  
  
    # reverse = None (Sorts in Ascending order)  
    # key is set to sort using second element of  
    # sublist lambda has been used  
    return(sorted(tup, key = lambda x: x[1]))   
  
# Driver Code  
tup = [('rishav', 10), ('akash', 5), ('ram', 20), ('gaurav', 15)]  
  
# printing the sorted list of tuples 
print(Sort_Tuple(tup))

[('akash', 5), ('rishav', 10), ('gaurav', 15), ('ram', 20)]

In [ ]:

#dict.clear()
#Removes all elements of dictionary dict

dict = {'Name': 'Zara', 'Age': 7};
print("Start Len : %d" %  len(dict))
dict.clear()
print("End Len : %d" %  len(dict))

Start Len : 2
End Len : 0

In [ ]:
#dict.items()
#Returns a list of dict's (key, value) tuple pairs

dict = {'Name': 'Zara', 'Age': 7}
print ("Value : %s" %  dict.items())

Value : dict_items([('Name', 'Zara'), ('Age', 7)])

In [ ]:
# dict.copy()
#Returns a copy of dictionary dict

dict1 = {'Name': 'Zara', 'Age': 7};
dict2 = dict1.copy()
print ("New Dictinary : %s" %  str(dict2))

New Dictinary : {'Name': 'Zara', 'Age': 7}

In [ ]:
#Python Program to Generate a Dictionary that Contains Numbers (between 1 and n) in the Form (x,x*x). 
n=int(input("Enter a number:"))
d={x:x*x for x in range(1,n+1)}
print(d)

Enter a number:9
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#ython Program to Sum All the Items in a Dictionary 
d={'A':100,'B':540,'C':239}
print("Total sum of values in the dictionary:")
print(sum(d.values()))

Total sum of values in the dictionary:
879

In [ ]:
#Python Program to Remove the Given Key from a Dictionary 
d = {'a':1,'b':2,'c':3,'d':4}
print("Initial dictionary")
print(d)
key=input("Enter the key to delete(a-d):")
if key in d: 
    del d[key]
else:
    print("Key not found!")
    exit(0)
print("Updated dictionary")
print(d)

Initial dictionary
{'a': 1, 'b': 2, 'c': 3, 'd': 4}
Enter the key to delete(a-d):b
Updated dictionary
{'a': 1, 'c': 3, 'd': 4}

In [ ]:
#Python Program to add name and mark as key->value pair in  a Dictionary and print it.
n=int(input("Enter no of records"))
d={}
for i in range(1,n+1):
    name= input("Enter name %d"%(i))
    mark=int(input("Enter mark %d"%(i)))
    d[name]=mark
    print (d)

Enter no of records1
Enter name 1bhoomika
Enter mark 199
{'bhoomika': 99}

In [ ]:
# Keys and Values example
 d={}
 print (" The dictionary elements are")
 for i in range(1,21):
     d[i]=i**2
 print (d)
 # To print key and values
 print (" Key==> Value are")
 for (k,v) in d.items():	
      print(k,"==>",v)
 # To print key only
  print ("\nTo print key only")
  for k in d.keys():	
       print(k, end=" ")
  #To print value only
  print ("\nTo print values only")
  for v in d.values():	
      print(v, end=" ")

In [ ]:
#Python program to convert 2 digit number  into words

d={0:'',1:'one',2:'two',3:'three',4:'four',5:'five',6:'six',7:'seven',8:'eight',9:'nine',\
   10:'ten',11:'eleven',12:'twelve',13:'thirteen',14:'fourteen',15:'fifteen',16:'sixteen',\
   17:'seventeen',18:'eightteen',19:'nineteen',20:'twenty',30:'thirty',40:'fourty',50:'fifty',\
   60:'sixty',70:'seventy',80:'eighty',90:'ninty'}

num=int(input("Enter the integer between 1 to 99:"))
if (num<=20):
      print(d[num])
if(num>20 and num<100):
        if num%10==0:       
            print(d[num])
        else:
            print(d[num//10*10]+" "+d[num%10])

Enter the integer between 1 to 99:99
ninty nine

In [ ]:
#How to sort a dictionary by values in Python

d = {"Pierre": 42, "Anne": 33, "Zoe": 24}
#Use the sorted function and operator module
import operator
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print(sorted_d)
sorted_a= sorted(d.items(), key=operator.itemgetter(1),reverse=True)
print(sorted_a)

[('Zoe', 24), ('Anne', 33), ('Pierre', 42)]
[('Pierre', 42), ('Anne', 33), ('Zoe', 24)]

In [ ]:
students=[]
for num in range(5):
    x=input("Enter name of students: ")
    students.append(x)

marks=[]
for num in range(5):
    y=input("Enter marks of students:")
    marks.append(y)

report = input("Do you want to print class report?: ")
if report == 'yes':
    print(x[0],":", y[0])
    print(x[1],":", y[1])
    print(x[2],":", y[2])
    print(x[3],":", y[3])
    print(x[4],":", y[4])

Enter name of students: bhoo
Enter name of students: bha
Enter name of students: raa
Enter name of students: mi
Enter name of students: ra
Enter marks of students:1
Enter marks of students:
Enter marks of students:2
Enter marks of students:3
Enter marks of students:3
Do you want to print class report?: mi

In [ ]:
Employee = {"Name": "John", "Age": 29, "salary":25000,"Company":"GOOGLE"}    
print(type(Employee))    
print("printing Employee data .... ")    
print(Employee)

<class 'dict'>
printing Employee data ....
{'Name': 'John', 'Age': 29, 'salary': 25000, 'Company': 'GOOGLE'}

In [ ]:
# Python3 Program to find sum of  
# all items in a Dictionary 
  
# Function to print sum 
def returnSum(myDict): 
      
    sum = 0
    for i in myDict: 
        sum = sum + myDict[i] 
      
    return sum
  
# Driver Function 
dict = {'a': 100, 'b':200, 'c':300} 
print("Sum :", returnSum(dict))

Sum : 600

# New Section

# New Section

In [ ]:
# Python Program to count the number of lines in a text file. 
from google.colab import drive
drive.mount('/content/drive')
#Python Program to count the number of lines in a text file. 
file = '/content/drive/My Drive/pynic day 2.txt'
num_lines = 0
with open(file, 'r') as f:
   for line in f:
     num_lines += 1
     print("Number of lines:")
print(num_lines)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
Number of lines:
Number of lines:
2

In [ ]:
#Python Program to count the number of words in a text file. 
 #Python Program to count the number of lines in a text file. 
file = '/content/drive/My Drive/pynic day 2.txt'
num_words = 0
with open(file, 'r') as f:
   for line in f:
     words = line.split()
     print(words)
num_words += len(words)
print("Number of words:")
print(num_words)

['bhoomika', 'is', 'good', 'girl']
['i', 'am', 'single']
Number of words:
3

In [ ]:

#Python Program to count the occurrences of a word in a text file.
fname = '/content/drive/My Drive/pynic day 2.txt'
word=input("Enter word to be searched:")
k = 1

with open(fname, 'r') as f:
    for line in f:
      words = line.split()
    for i in words:
      if(i==word):
         k=k+1
      print("Occurrences of the word:")
      print(k)

Enter word to be searched:h
Occurrences of the word:
1
Occurrences of the word:
1
Occurrences of the word:
1

In [ ]:
#Python Program to copy the contents of one file into another. 
file1 = '/content/drive/My Drive/pynic day 2.txt'
file2 = '/content/drive/My Drive/panic1.txt'

with open(file1,'r') as f:
     with open(file2, "w") as f1:
          for line in f:
              f1.write(line)

In [ ]:
#Python Program to read the contents of the file in reverse order.
file = '/content/drive/My Drive/pynic day 2.txt'
with open (file,'r') as f:
    for line in f:
     l=line.split()
     l.reverse() 
     st= " ".join(l)
     print (st)

girl good is bhoomika
single am i

In [ ]:
#open file in read mode
file = open("/content/drive/My Drive/pynic day 2.txt", "r")

#read the content of file
data = file.read()

#get the length of the data
number_of_characters = len(data)

print('Number of characters in text file :', number_of_characters)

Number of characters in text file : 33

In [ ]:
# Open the file in read mode 
text = open("/content/drive/My Drive/panic1.txt", "r") 
  
# Create an empty dictionary 
d = dict() 
  
# Loop through each line of the file 
for line in text: 
    # Remove the leading spaces and newline character 
    line = line.strip() 
  
    # Convert the characters in line to  
    # lowercase to avoid case mismatch 
    line = line.lower() 
  
    # Split the line into words 
    words = line.split(" ") 
  
    # Iterate over each word in line 
    for word in words: 
        # Check if the word is already in dictionary 
        if word in d: 
            # Increment count of word by 1 
            d[word] = d[word] + 1
        else: 
            # Add the word to dictionary with count 1 
            d[word] = 1
  
# Print the contents of dictionary 
for key in list(d.keys()): 
    print(key, ":", d[key])

bhoomika : 1
is : 1
good : 1
girl : 1
i : 1
am : 1
single : 1

In [ ]:
#Python Program to append the contents of one file to another file 
# Python program to illustrate 
# Append vs write mode 
file1 = open("/content/drive/My Drive/panic1.txt", "w") 
L = ["This is Delhi \n", "This is Paris \n", "This is London"] 
file1.writelines(L) 
file1.close() 
   
# Append-adds at last 
file1 = open("/content/drive/My Drive/panic1.txt", "a")  # append mode 
file1.write("Today \n") 
file1.close() 
   
file1 = open("/content/drive/My Drive/panic1.txt", "r") 
print("Output of Readlines after appending") 
print(file1.read()) 
print() 
file1.close() 
   
# Write-Overwrites 
file1 = open("/content/drive/My Drive/panic1.txt", "w")  # write mode 
file1.write("Tomorrow \n") 
file1.close() 
   
file1 = open("/content/drive/My Drive/panic1.txt", "r") 
print("Output of Readlines after writing") 
print(file1.read()) 
print() 
file1.close()

Output of Readlines after appending
This is Delhi
This is Paris
This is LondonToday


Output of Readlines after writing
Tomorrow

In [ ]:
fname = input("Enter file name: ")
k = 0
 
with open(fname, 'r') as f:
    for line in f:
        words = line.split()
        for i in words:
            for letter in i:
                if(letter.isspace):
                    k=k+1
print("Occurrences of blank spaces:")
print(k)

#4.Python Program to count the number of blank spaces in a text file.

Enter file name: /content/drive/My Drive/panic1.txt
Occurrences of blank spaces:
8

In [ ]:
def capitalize_first_last_letters(str1):
     str1 = result = str1.title()
     result =  ""
     for word in str1.split():
        result += word[:-1] + word[-1].upper() + " "
     return result[:-1]  
     
print(capitalize_first_last_letters("python exercises session 2"))
print(capitalize_first_last_letters("bhoomi"))

PythoN ExerciseS SessioN 2
BhoomI

In [ ]:
fname = input("Enter file name: ")
 
with open(fname, 'r') as f:
    for line in f:
        l=line.title()
        print(l)

Enter file name: /content/drive/My Drive/pynic day 2.txt
Bhoomika Is Good Girl

I Am Single